.realize {
    margin-top: 140px;

    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 125px;
    }

    &-title {
        width: 521px;
        margin-bottom: 64px;
    }
}
